:root {
  --primary: rgb(168, 40, 147);
  --bg: rgb(01, 01, 01);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "kanit", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-image: url("/img/logo1.jpg");
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: left;
  position: relative;
  background-color: rgb(2 2 2 / 88%);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-size: 1.4rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
  display: inline-block;
  font-size: 1.4rem;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  margin: 0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
  display: flex;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* freak section */

.freak {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.freak::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3) 3%,
    rgba(225, 225, 225, 0) 25%
  );
}

.freak .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.freak .content h1 {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3 0.5);
  line-height: 1;
}

.freak .content h1 span {
  color: var(--primary);
}

.freak .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3 0.5);
  mix-blend-mode: difference;
}

.freak .content .item-detail-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px rgba (1, 1, 3 0.5);
}

/* About Section */
.about,
.package,
.contact,
.testimony {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.package h2,
.contact h2,
.testimony h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.package h2 span,
.contact h2 span,
.testimony h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  pad: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* package section */
.package h2,
.contact h2,
.testimony h2 {
  margin-bottom: 1rem;
}
.package p,
.contact p,
.testimony p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Price section */

.pricing-plan img {
  max-width: 405px;
  max-height: 156px;
}

.panel {
  background-color: rgb(01, 01, 01);
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  gap: 0px 20px;
}

.panel .pricing-table {
  display: flex;
  width: fit-content;
}

/* .pricing-plan {
}

.pricing-plan:last-child {
} */
.pricing-img {
  max-width: 100%;
}

.pricing-header {
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0px 25px;
  color: white;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 0;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
  list-style: none;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
  list-style: none;
}

.pricing-price {
  color: white;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: var(--primary);
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
}

.pricing-button:hover {
  /* .pricing-button:focus { */
  background-color: var(--primary);
  color: white;
}

.pricing-button.is-featured {
  background-color: purple;
  color: white;
}

.pricing-button.pricing-button.is-featured:hover,
.pricing-button.pricing-button.is-featured:focus {
  background-color: var(--primary);
  color: white;
}

@media (min-width: 768px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    padding: 25px 5 0px;
  }
}

.package .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.package .row .package-card {
  text-align: center;
}

.package .row .package-card img {
  border-radius: 1%;
  max-width: 435px;
  max-height: 280px;
}

.package .row .package-card .package-card.title {
  margin-top: 1.5rem auto 1rem;
}

/* Contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  min-width: fit-content;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid white;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

/* testimony */
.testimony {
  box-sizing: border-box;
  margin: 0;
  padding: 8rem 7% 1.4rem;
  background-color: #000000;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 30rem;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  background-position-y: 30%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  background-color: #000000b8;
}
.card > .row > .icon {
  background: #233;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: white;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 0;
}

.description h4 {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("/img/testi1.jpg");
}
.card[for="c2"] {
  background-image: url("/img/testi2.jpg");
}
.card[for="c3"] {
  background-image: url("/img/testi3.jpg");
}
.card[for="c4"] {
  background-image: url("/img/testi4.jpg");
}

.testimony .row .testimony-img {
  flex: 1 1 45rem;
}

.testimony .row .testimony-img img {
  width: 100%;
}

.testimony .row .content {
  flex: 1 1 35rem;
  pad: 0 1rem;
}

.testimony .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.testimony .row .content p {
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* footer */
footer {
  background-color: rgb(49 49 49 / 41%);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .credit {
  font-size: 1rem;
  padding-bottom: 0rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

.modal .modal-container .modal-content .product-content h3 {
  margin-top: 1rem;
}

/* contact */
.phone-button {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px rgba (1, 1, 3 0.5);
}
.email-button {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px rgba (1, 1, 3 0.5);
}

.contact-ask h3 {
  margin-top: 1rem;
  padding: 1 0;
  font-size: 2rem;
  color: white;
  display: flex;
  text-align: center;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(255, 255, 255);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.8);
    color: var(--primary);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }

  /* testimony  */
  .wrapper {
    margin-top: 500px;
    margin-bottom: 100px;
  }

  .container {
    height: 1200px;
    flex-direction: column;
  }

  .slide {
    width: 400px;
    align-items: flex-start;
  }

  .slide > .row {
    flex-direction: column;
  }

  .slide > .row > .icon-1,
  .icon-2,
  .icon-3 {
    width: 50px;
  }

  .slide {
    height: 80px;
  }

  .slide > .row > .description {
    height: 500px;
    width: 400px;
  }

  input:checked + label {
    height: 600px;
    width: 400px;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-content img {
    flex-wrap: wrap;
  }
}

/* Mobile Phone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
